<table id="package_contents_table">
    <tr>
        <th id="package_contents_id">ID</th>
        <th id="package_contents_name">Paket İçerik Adı</th>
        <th id="package_contents_content_value">İçerik Adı</th>
        <th id="package_contents_content_type">Sepetler</th>
        <th id="package_contents_actions">Aksiyonlar</th>
    </tr>
    {% for package_content in models %}
    <tr>
        <td class="package_contents_id">
            {{ package_content.id }}
        </td>
        <td class="package_contents_name">
            {{ package_content.name }}
        </td>
        <td class="package_contents_content_value">
            {{ package_content.content_value }}
        </td>
        <td class="package_contents_packages">

            <ul>
                <hr class="table_row_inline_sep">
                {% for index,bpackage in enumerate(package_content.packages) %}

                <li class="package_contents_info base_package" id="base_packages_{{ package_content.id }}_{{ index }}">
                    <p>
                        <span class"text">{{ bpackage.name}} </span>
                    </p>

                    <a class="button-holder"
                        href=" {{ endpoints.AInfo.format(model_type=mTypeStr.package,model_id=bpackage.id) }}">
                        <button class="edit_button info_button">Düzenle</button> </a>
                    <a class="button-holder"
                        href="{{ endpoints.ADelete.format(model_type=mTypeStr.package, model_id=bpackage.id) }}">
                        <button class="delete-button" data-item-name="Sepeti">SİL</button>
                    </a>
                </li>
                <hr class="table_row_inline_sep">

                {%endfor%}
            </ul>
        </td>

        <td>
            <a class="button-holder"
                href="{{ endpoints.AInfo.format(model_type=model_type, model_id=package_content.id) }}">
                <button class="edit_button info_button">Düzenle</button> </a>
            <a class="button-holder"
                href="{{ endpoints.ADelete.format(model_type=model_type, model_id=package_content.id) }}">
                <button class="delete-button">SİL</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
