<table id="u_sessions_table">
    <tr>
        <th id="u_sessions_id">ID</th>
        <th id="u_sessions_owner">Kullanıcı</th>
        <th id="u_sessions_access">Erişim Yetkisi</th>
        <th id="u_sessions_access">IP Adresi</th>
        <th id="u_sessions_start_date">Outurm Başlangıcı</th>
        <th id="u_sessions_end_date">Oturum Bitişi</th>
        <th id="u_sessions_actions">Aksiyonlar</th>
    </tr>
    {% for u_session in models %}
    <tr>
        <td>{{ u_session.id }}</td>
        <td>{{ u_session.user.name }}</td>
        <td>{{ u_session.access }}</td>
        <td>{{ u_session.ip }}</td>
        <td>{{ u_session.start_date }}</td>
        <td>{{ u_session.end_date }}</td>
        <td>
            <a class="button-holder" href="{{ endpoints.AInfo.format(model_type=model_type, model_id=u_session.id) }}">
                <button class="edit_button info_button">Düzenle</button> </a>
            <a class="button-holder"
                href="{{ endpoints.ADelete.format(model_type=model_type, model_id=u_session.id) }}">
                <button class="delete-button">SİL</button>
            </a>
    </tr>
    {% endfor %}
</table>
