<table id="users_table">
    <tr>
        <th id="users_id">ID</th>
        <th id="users_name">Kullanıcı</th>
        <th id="users_package">Kullanıcı Paketi Bilgisi</th>
        <th id="users_sessions">Oturum Bilgisi</th>
        <!-- <th id="users_discord_id">Discord ID</th> -->
        <th id="models_actions">Aksiyon</th>
    </tr>
    {% for user in models %}
    <tr>
        <td class="users_id">{{ user.id }}</td>
        <td class="users_name">{{ user.name }}</td>
        <td class="users_package">
            <div class="user_package_detail">
                {# try this later https://jsfiddle.net/amfphrqo/6/ #}
                {% if user.package %}
                {% set package_remaining_days = user.package.end_date - time_now %}
                <button class="users_package_info toggle_info"
                    onclick="toggleDivDisplayById('user_package_info_{{ user.id }}')">
                    Ayrıntı Göster
                </button>
                <p>
                    <span class"text">Kalan Paket Süresi {{ package_remaining_days }}</span>
                </p>
                <div style="display:none" class="user_package_info user_package" id="user_package_info_{{ user.id }}">
                    <a class="button-holder"
                        href="{{ endpoints.AInfo.format(model_type=mTypeStr.u_package,model_id=user.package.id) }}">
                        <button class="edit_button info_button">Düzenle</button> </a>
                    <a class="button-holder"
                        href="{{ endpoints.ADelete.format(model_type=mTypeStr.u_package,model_id=user.package.id) }}">
                        <button class="delete-button" data-item-name="Kullanıcı Paketini">SİL</button>
                    </a>
                    <p>
                        <b>Başlangıç Tarihi:</b>{{ user.package.start_date }}
                    </p>
                    <p>
                        <b>Bitiş Tarihi:</b> {{ user.package.end_date }}
                    </p>
                    <p>
                        <b>Mevcut Kalan Süre:</b>{{ package_remaining_days }}
                    </p>
                    <p class="remaining_days_p">{{ user.package.remaining_days }}</p>
                    <div class="users_package_info base_package">
                        <a class="button-holder"
                            href=" {{ endpoints.AInfo.format(model_type=mTypeStr.package,model_id=user.package.base_package.id) }}">
                            <button class="edit_button info_button">Düzenle</button> </a>
                        <a class="button-holder"
                            href="{{ endpoints.ADelete.format(model_type=mTypeStr.package, model_id=user.package.base_package.id) }}">
                            <button class="delete-button" data-item-name="Sepeti">SİL</button>
                        </a>
                        <p>
                            <b>Sepet Bilgisi:</b>
                            <br>
                        </p>
                        <p>
                            <b>Sepet Adı:</b> {{ user.package.base_package.name }}
                        </p>
                        {% for index,package_content in enumerate(user.package.base_package.package_contents) %}
                        <div class="user_package_info package_contents" id="package_contents_{{ index }}">
                            <a class="button-holder"
                                href=" {{ endpoints.AInfo.format(model_type=mTypeStr.package_content,model_id=package_content.id) }}">
                                <button class="edit_button info_button">Düzenle</button> </a>
                            <a class="button-holder"
                                href="{{ endpoints.ADelete.format(model_type=mTypeStr.package_content,model_id=package_content.id) }}">
                                <button class="delete-button" data-item-name="Paket içeriğini">SİL</button>
                            </a>
                            <p>
                                <b>Paket İçeriği Bilgisi:</b>
                                <br>
                            </p>
                            <p>
                                <b>Paket İçeriği Adı:</b> {{ package_content.name }}
                            </p>
                            <p>
                                <b>Paket İçeriği:</b> {{ package_content.content_value }}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <span class="text bold warn" style="font-size: 1.5em;">Kullanıcıya ait aktif paket BULUNMAMAKTADIR !!!</span>
            {% endif %}
        </td>
        <td class="users_sessions_detail">
            {% for index,session in enumerate(user.sessions) %}
            <button class="users_sessions_info toggle_info"
                onclick="toggleDivDisplayById('user_sessions_info_{{ user.id }}_{{ session.id }}')">
                {#
                onmouseover="toggleDivDisplayById('user_sessions_info_{{ user.id }}_{{ session.id }}')">
                #}
                s -> {{ session.id }} , {{ session.ip }}
            </button>
            <div style="display:none" class="user_sessions_info user_session"
                id="user_sessions_info_{{ user.id }}_{{ session.id }}">
                <a class="button-holder"
                    href="{{ endpoints.AInfo.format(model_type=mTypeStr.u_session,model_id=session.id) }}">
                    <button class="edit_button info_button">Düzenle</button> </a>
                <a class="button-holder"
                    href=" {{ endpoints.ADelete.format(model_type=mTypeStr.u_session,model_id=session.id) }}">
                    <button class="delete-button">SİL</button>
                </a>
                <p>
                    <b>ID:</b> {{ session.id }}
                </p>
                <p>
                    <b>Oturum Başlangıç:</b> {{ session.start_date }}
                </p>
                <p>
                    <b>Oturum Bitiş:</b> {{ session.end_date }}
                </p>
                <p>
                    <b>IP Adresi:</b> {{ session.ip }}
                </p>
                <p>
                    <b>Erişim Yetkisi:</b> {{ session.access }}
                </p>
            </div>
            {% endfor %}
        </td>
        <!-- <td class="users_discord_id">{{ user.discord_id }}</td> -->
        <td class="models_actions">
            <a class="button-holder" href=" {{ endpoints.AInfo.format(model_type=mTypeStr.user,model_id=user.id) }}">
                <button class="edit-button info-button">Düzenle</button>
            </a>
            <a class="button-holder" href=" {{ endpoints.ADelete.format(model_type=mTypeStr.user,model_id=user.id) }}">
                <button class="delete-button" data-item-name="Kullanıcıyı">SİL</button>
            </a>
        </td>
    </tr> {% endfor %}
</table>
