body {
  background: rgb(55, 79, 79);
  background: linear-gradient(90deg, rgb(55, 79, 79) 0%, rgba(92, 145, 121, 0.8) 57%, rgba(91, 121, 76, 0.79) 100%);
  font-family: Consolas, monaco, monospace;
}

.main-container {
  width: 70%;
  margin: 0 auto;
  min-width: 300px;
}

button {
  font-size: 1.2em;
}

table {
  overflow-x: auto;
  overflow-y: auto;
  font-family: arial, sans-serif;
  border-collapse: separate;
  padding: 1% 1%;
  width: 100%;
}


h2 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

h2:hover {
  cursor: default;
  color: rgb(37, 30, 45);
}

tr.td {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  padding: 6%;
}

tr:hover,
td:hover {
  opacity: 1;
}

th:first-child {
  width: 3%;
  margin: 0 auto;
}

th:last-child {
  width: 20%;
  margin: 0 auto;
}

td,
th {
  border: 1px dotted #dddddd;
  border-radius: 2px;
  text-align: center;
  padding: 0.7%;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.4);
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.0);
}

.user_package_info {
  padding: 1% 1%;
}

div.base_package,
div.package_contents {
  padding: 1%;
  border: 1px dotted rgba(0, 0, 0, 0.7);
  border-collapse: separate;
}

div.package_contents b {
  padding: 1% 1%;
}

div.package_contents,
div.user_session {
  border: 1px dotted rgba(0, 0, 0, 0.6);
  padding: 1% 3%;
  border-right: 2%;
  border-left: 2%;
  border-color: rgba(24, 124, 235, 0.3);
}

.user_sessions {
  padding: 1%;
}

.remaining_days_p {
  color: rgb(99, 57, 57);
}

.user_sessions_info {
  padding: 1% 2%;
}

button.models_action {
  padding: 1% 1%;
  float: right;
  margin: 1% auto;
  border: 2px solid;
  border-color: gray;
  border-radius: 20px;
  text-align: center;
}

.user_package_detail>p {
  padding: 1%;
  font-style: bold;
  float: right;
}

.user_package_detail button.toggle_info {
  margin: 1%;
}

div.add_model {
  padding: 1%;
  margin: 1%;
  border: 1px dotted rgba(0, 0, 0, 0.7);
  border-collapse: separate;
  border-radius: 2px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s ease-in;
}

div.add_model:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease-out;
}

div.add_model p {
  color: #430a69;
  width: 70%;
  margin: 0 auto;
  grid-row: 1;
  text-align: center;
  font-size: 1.5em;
}

select.models_action {
  grid-row: 1;
  width: 20%;
  padding: 1% 1%;
  margin: 1% auto;
  border: 2px solid;
  border-color: gray;
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.5s ease-in;
  font-size: 1.2em;

  option {
    font-size: 1em;
    text-align: center;
  }
}

select.models_action:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-out;
}

div.models_actions {
  padding: 0% 1%;
  margin-inline-start: 0%;
  float: right;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-out;
}

button {
  cursor: pointer;
  transition: background-color 0.5s ease-in;
  border-radius: 20px;
}

.nav-item {
  padding: 0% 1%;
  display: inline-block;
  margin: auto;
}

.nav-link {
  color: #00bfff;
  font-size: 1.7em;
  text-decoration: none;
  transition: background-color 0.5s ease-in;
  transition: font-size 0.8s ease-in;
  border-spacing: 1px;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(69, 68, 68, 0.5);
  border-radius: 10px;
}

.nav-link:hover {
  parent: :background-color: rgba(0, 0, 0, 0.2);
  transition: font-size .7s ease-out;
  font-size: 1.8em;
}

.navbar {
  background-color: rgba(9, 9, 9, 0.2);
  width: 70%;
  margin: 0 auto;
  min-width: 300px;
}


.navbar-collapse ul {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-left: 0;
}

#navbarCollapse {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0% 0%;
  margin: 0% 1%;

}

h3 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

h3:hover {
  cursor: default;
  color: rgba(100, 120, 190, 1);
}

/* --- forms general --- */

form {
  margin: 2% auto;
  width: 70%;
  animation: fadein 2s;
  transition: background-color 0.5s ease-in;
  margin: 0 auto;
  text-align: center;
  padding: 3% 3%;
  border: 1px dotted rgba(0, 0, 0, 0.7);
  border-collapse: separate;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}


form label {
  width: 10%;
  height: 5%;
  font-family: Consolas, monaco, monospace;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  min-width: 150px;
}

form button,
a button {
  width: 10%;
  height: 5%;
  padding: 1%;
  margin: 1%;
  border: 1px solid silver;
  min-width: 100px;
}

form button:hover,
a button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

form select {
  width: 33%;
  padding: 1%;
  margin: 1%;
  border: 1px solid silver;
  min-width: 180px;
  transition: background-color 0.5s ease-in;
}

form select:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

form input {
  width: 33%;
  padding: 1%;
  margin: 1%;
  border: 1px solid silver;
  transition: background-color 0.5s ease-in;
}

input:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: text;
  transition: background-color 0.5s ease-out;
}

.option {
  font-size: 1.5em;
  font-family: Consolas, monaco, monospace;
}


input[type="text"],
input[type="password"] {
  width: 33%;
  padding: 1%;
  margin: 1%;
  font-family: Consolas, monaco, monospace;
  font-size: 1.5em;
  letter-spacing: 0.07em;
  border: 10% solid silver;
  min-width: 190px;
  min-height: 30px
}

button.btn-close {
  font-style: thin;
  color: red;
  background: none;
  border: none;
  top right: 1;
}

div.message {
  background-color: rgba(12, 123, 123, .4);
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 1.6em;
  padding: 0.6% 0.2%;
  border: 10% solid rgba(0, 0, 0, 0.1);
  margin-top: 1%;
  margin-bottom: 1%;
  position: sticky;
  animation: fadein 2s;
  transition: background-color 0.5s ease-in;
  transition: font-size 0.8s ease-in;
}

div.message:hover {
  cursor: default;
  background-color: rgba(12, 123, 123, .6);
  border: 10% solid rgba(0, 0, 0, 0.2);
  font-size: 1.6em;
  transition: background-color 0.5s ease-out;
  transition: font-size .7s ease-out;
}

p.admin_name {
  font-size: 1.5em;
  font-family: Consolas, monaco, monospace;
  color: rgba(15, 10, 190, 0.7);
  padding: 10% 1%;
  margin: 1% 1%;
  width: 70%;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(69, 140, 138, 1);
  border-radius: 10px;
  text-decoration: none;
}

span.warn {
  color: rgb(0, 0, 0);
  font-size: 0.8em;
  font-style: oblique;
}

span.success {
  color: green;
  font-size: 0.8em;
}

a.button_holder {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  padding: 1% 1%;
  margin: 1% auto;
  width: 80%;
  transition: background-color 0.5s ease-in;
  transition: font-size 0.8s ease-in;
}

span.boldtext {
  font-weight: bold;
  font-size: 1.5em;
}
