{% extends 'admin_layout.html' %}
{% block title %}
admin control panel
{% endblock title %}
{% block body %}
<script type="text/javascript" src="/static/warn.js"></script>
<h2>Kullanıcılar</h2>
<div class="add_model">
    <p>
        <span class="text">
            < EKLEME >
        </span>
    </p>
    <select class="models_action" onchange="window.location=this.options[this.selectedIndex].value">
        <option value="_" selected>İçerik Seçiniz</option>
        {% for model_type in mTypeStr %}
        <option value="{{ endpoints.ACreate.format(model_type=model_type) }}">{{ mTypeCnt[model_type] }} Ekle</option>
        {% endfor %}
    </select>
    <p>
        <span class="text">
            < LİSTELEME >
        </span>
    </p>
    <select class="models_action" onchange="window.location=this.options[this.selectedIndex].value">
        <option value="_" selected>İçerik Listele</option>
        {% for model_type in mTypeStr %}
        <option value="{{ endpoints.AList.format(model_type=model_type) }}">{{ mTypeCnt[model_type] }} Listele</option>
        {% endfor %}
    </select>
</div>
{# TODO delete this table use user_list instead#}
{%set models = users%}
{% include 'model_list/{model_type}_list.html'.format(model_type="user") %}

{% endblock body %}
