<!DOCTYPE html>
<html lang="en">
<head>
  <title>admin control panel</title>
  <link rel="icon" href=
  "https://www.freeiconspng.com/uploads/lock-icon-5.png" type=
  "image/x-icon">
  <style type="text/css" media="screen">



  body{
    padding: 1%;
    background-color: #7d42 ;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    padding: 1% 1%;
    width: 100% ;
  }
  h1 {
    color: red;
    padding: 0% 1%
  }

  h2{
    color: rebeccapurple;
    padding: 0% 1%
  }

  tr.td {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  td, th {
    border: 1px solid silver;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: beige;
  }
  tr:nth-child(odd){
    background-color: silver;
  }
.user_package_info{
  padding: 1% 1%;
}

.base_package, .package_contents {
  padding: 1%;
  border: 1px dotted rgba(0,0,0,.7);
  border-collapse: separate;
}
.package_contents b{
  padding: 1% 1%;
}
.package_contents {
  padding: 1% 3%;
  border-right: 2%;
  border-left: 2%;
 border-color: rgba(24,124,235,.3);
}
.user_sessions{
  padding: 1%;
}

.remaining_days_p {
  color: red;
}

.user_sessions_info{
  padding: 1% 2%;
}
  </style>
</head>
<body>
  <h1>Admin Control Panel</h1>
  <h2>Users</h2>
<h3>{{ utc_now }}</h3>
<h3>{{ example_user }}</h3>
  {% for user in [example_user] %}

  <table id="users_table">
    <tr>
      <th id="users_id">id</th>
      <th id="users_name">name</th>
      <th id="users_discord_id">discord id</th>
      <th id="users_package">user package</th>
      <th id="users_sessions">user sessions</th>
      <th id="users_actions">actions</th>
    </tr>
    <tr>
      <td class="users_id">0</td>
      <td class="users_name">admin</td>
      <td class="users_discord_id">123456789</td>
      <td class="users_package">
        <div class="user_package_detail">
          {# try this later https://jsfiddle.net/amfphrqo/6/ #}
          <button class="users_package_info_btn" onmouseover=
          "showPackageInfoDiv('user_package_info_0')">info</button>
          <div style="display:none" class=
          "user_package_info user_package" id=
          "user_package_info_0">
            <p><b>start_date:</b> X.08.23 13:21</p><br>
            <p><b>end_date:</b> X.09.23 13:21</p><br>
            <p><b>remaining_days:</b></p>
            <p class="remaining_days">30</p>
            <div class="user_package_info base_package">
              <p><b>base_package:</b><br></p>
              <p><b>name:</b> base_package_0</p>
              <p class="package_contents" ><b>package_contents:</b><br></p>
              <div class=
              "user_package_info package_contents">
                <p><b>package_content:</b><br></p>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td class="users_sessions_td">
        <div class="user_sessions_detail">
          <button class="users_sessions_info_btn" onmouseover=
          "showPackageInfoDiv('user_sessions_info_0')">info</button>
          <div style="display:none" class=
          "user_sessions_info user_sessions" id=
          "user_sessions_info_0">
            <p><b>id:</b> 1</p>
            <p><b>start_date:</b> X.08.23 13:21</p>
            <p><b>end_date:</b> X.09.23 13:21</p>
            <p><b>ip_adress:</b> 127.0.0.1</p>
          </div>
        </div>
      </td>
      <td id="users_actions_td">
        <a href="./edit/0/%(id)">edit</a> <a href=
        "./delete/0/%(id)">delete</a>
      </td>
    </tr>
    <tr>

      <td class="users_id">{{ user.id }}</td>
      <td class="users_name">{{ user.name }}</td>
      <td class="users_discord_id">{{ user.discord_id }}</td>
      <td class="users_package">
        <div class="user_package_detail">
          {# try this later https://jsfiddle.net/amfphrqo/6/ #}
          <button class="users_package_info_btn" onmouseover=
          "showPackageInfoDiv('user_package_info_{{ user.id }}')">
          info</button>
          <div style="display:none" class=
          "user_package_info user_package" id=
          "user_package_info_{{ user.id }}">
            <p><b>start_date:</b> {{ user.package.start_date
            }}</p><br>
            <p><b>end_date:</b> {{ user.package.end_date }}</p><br>
            <p><b>remaining_days:</b>{{ user.package.end_date - utc_now }}</p>

            <p class="remaining_days_p">{{
            user.package.remaining_days }}</p>
            <div class="user_package_info base_package">
              <p><b>base_package:</b><br></p>
              <p><b>name:</b> {{ user.package.base_package.name
              }}</p>
              <p><b>package_contents:</b><br></p>{% for
              index,package_content in
              enumerate(user.package.base_package.package_contents)
              %}
              <div class=
              "user_package_info package_contents" id=
              "package_contents_{{ index }}">
                <p><b>package_content:</b><br></p>
                <p><b>name:</b> {{ package_content.name }}</p>
                <p><b>value:</b> {{ package_content.value }}</p>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </td>
      <td class="users_sessions_td">
        <div class="user_sessions_detail">
          <button class="users_sessions_info_btn" onmouseover=
          "showPackageInfoDiv('user_sessions_info_{{ user.id }}')">
          info</button>
          {% for index,session in enumerate(user.sessions) %}
          <div style="display:none" class=
          "user_sessions_info user_sessions" id=
          "user_sessions_info_{{ index }}">
            <p><b>id:</b> {{ session.id }}</p>
            <p><b>start_date:</b> {{ session.start_date }}</p>
            <p><b>end_date:</b> {{ session.end_date }}</p>
            <p><b>ip_adress:</b> {{ session.ip_adress }}</p>
        </div>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <script type="text/javascript">
  function showPackageInfoDiv(id){
    var div = document.getElementById(id);
    if (div.style.display === "none") {
      div.style.display = "block";
    } else {
      div.style.display = "none";
    }
  }

  function randomString(length) {
    var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var result = '';
    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
    return result;
  }
  function randomInt(length) {
    var chars = '0123456789';
    var result = '';
    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
    return result;
  }

  function fill_table_exmaples( ){
    var table = document.getElementById("users_table");
    var row = table.insertRow(1);
    row.className = "tr";
    var cell = row.insertCell(0);
    cell.innerHTML = randomInt(3);
    cell.className = "users_id";
    var cell = row.insertCell(1);
    cell.innerHTML = randomString(5);
    cell.className = "users_name";
    var cell = row.insertCell(2);
    cell.innerHTML = randomInt(9);
    cell.className = "users_discord_id";
    var cell = row.insertCell(3);
    cell.innerHTML = randomString(5);
    cell.className = "users_package";
    var cell = row.insertCell(4);
    cell.innerHTML = randomString(5);
    cell.className = "users_sessions_td";
    var cell = row.insertCell(5);
    cell.innerHTML = "<a href='./edit/0/%(id)'>edit</a> <a href='./delete/0/%(id)'>delete</a>";
    cell.className = "users_actions_td";
  }
  // after 1 of loading the page
  setTimeout(function(){ fill_table_exmaples(); }, 1000);
  </script>
</body>
</html>
