<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content=
  "width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
  <title>{% block title %}todo app{% endblock title %}</title>
</head>
<body>
  {% include "includes/navbar.html" %}<br>
  <br>
  <br>
  <br>
  <div class="container">
    {% include "includes/messages.html" %} {% block body %} {%
    endblock body %}
  </div>
</body>
</html>
