<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>
            {% block title %}
                webapp
            {% endblock title %}
        </title>
    </head>
    <body>
        {% include "includes/navbar.html" %}
        <div class="main-container">
            {% include "includes/messages.html" %}
            {% block body %}
                {%
                endblock body %}
            </div>
            <body>
                <script type="text/javascript" src="/static/main.js"></script>
            </body>
        </html>
