{# very basic centered login panel with user name and password #}
{% extends 'layout.html' %}

{% block title %}
log in
{% endblock title %}

{% block body %}
<h3>log in</h3>

<form action="/admin_control/login"  method="post" class="login-form">
<label class="password" >username : </label>
    <input type="text" class="form-control" name="username" id="username" placeholder="your username..." required>
    <br>
    <label class="password" >password : </label>
    <input type="password" class="form-control" placeholder="password" id="password" name="password" required><br>

<button type="submit" class="login-form" href="/admin_control/login">log in</button>
</form>

{% endblock body %}
