<!-- --
<form>
  ---->
<label class="name"> <span class="text">Name : </span>
  <input type="text" name="name" placeholder="Name" value="{{ model.name }}">
</label>
<label class="password"> <span class="text">Password : </span>
  <input type="password" name="password" placeholder="new password" class="password" onkeyup="checkPassword();" id="password">
</label>
<label class="password_confirm"> <span class="text">Password Verify :</span>
  <input type="password" name="password" placeholder="verify password" class="password_confirm" onkeyup="checkPassword();" id="password_confirm">
</label>

<label class="base_package"> <span class="text">Base Package :</span>
    {% if model.package %}
    {% set model_base_package = model.package.base_package %}
    {{ base_packages.remove(model_base_package) if None}}
    {% endif %}
  <select name="base_package">
    <option value="" selected>Select base package</option>
    {% if model_base_package %}
    <option value="{{ model_base_package.id }}"> active base package - {{ model_base_package.id }} {{ model_base_package.name }}</option>
    {% endif %}
    {% for base_package in base_packages %}
    <option value="{{ base_package.id }}">{{ base_package.id }} {{ base_package.name }}</option>
    {% endfor %}
  </select>
</label>

{# currently discord_id is disabled ( not supported ) #}
{# <label class="discord_id" style="display: none;"> <span class="text">Discord ID</span>
  <input type="text" name="discord_id" placeholder="Discord ID">
</label> #}

<div class="user_package">
    <span class="text"> User Package : </span>
       {% if model.package %}
          {% set package_remaining_days = model.package.end_date - utc_now %}
          <button class="users_package_info toggle_info"
                  onclick="toggleDivDisplayById('user_package_info_{{ model.id }}');return false;">
          toggle user_package info</button>
          <p> package remaining time {{ package_remaining_days }}</p>
          <div style="display:none" class=
          "user_package_info user_package" id=
          "user_package_info_{{ model.id }}">
            <form method="get" id="users_package_edit_{{ model.id }}" action=" {{ endpoints.AInfo.format(model_type=mTypeStr.package,model_id=model.package.id) }}">

            <button class="users_package_info users_action"
onclick="return false;"
                    > ✎  edit</button>
            </form>
            <form class="delete_form" method="post" id="users_package_delete_{{ model.id }}" action=" {{ endpoints.ADelete.format(model_type=mTypeStr.package,model_id=model.package.id) }}">
            <button class="users_package_info users_action delete_button"
onclick="return false;"
                    > ❌ delete</button>
            </form>
            <p><b>start_date:</b> {{ model.package.start_date
            }}</p>
            <p><b>end_date:</b> {{ model.package.end_date }}</p>
            <p><b>remaining_days:</b>{{ package_remaining_days }}</p>
            <p class="remaining_days_p">{{
            model.package.remaining_days }}</p>
            <div class="users_package_info base_package">
              <form method="get" id="base_package_edit_{{ model.package.base_package.id }}" action=" {{ endpoints.AInfo.format(model_type=mTypeStr.base_package,model_id=model.package.base_package.id) }}"
                    >
              <button class="base_package users_action"

onclick="return false;"
                      > ✎  edit</button>
              </form>
              <form class="delete_form" method="post" id="base_package_delete_{{ model.package.base_package.id }}" action=" {{ endpoints.ADelete.format(model_type=mTypeStr.base_package,model_id=model.package.base_package.id) }}">
              <button class="base_package users_action  delete_button"
onclick="return false;"

                      > ❌  delete</button>
              </form>
              <p><b>base_package:</b><br></p>
              <p><b>name:</b> {{ model.package.base_package.name
              }}</p>
              {% for index,package_content in enumerate(model.package.base_package.package_contents)  %}
              <div class=
              "user_package_info package_contents" id=
              "package_contents_{{ index }}">
                <form method="get" id="package_contents_edit_{{ index }}" action=" {{ endpoints.AInfo.format(model_type=mTypeStr.package_content,model_id=package_content.id) }}">
                  <button class="package_contents users_action" onclick="return false;"
> ✎  edit</button>
                </form>
                <form class="delete_form" method="post" id="package_contents_delete_{{ index }}" action=" {{ endpoints.ADelete.format(model_type=mTypeStr.package_content,model_id=package_content.id) }}">
                  <button class="package_contents users_action  delete_button"
onclick="return false;"

                          > ❌  delete</button>
                </form>
                <p><b>package_content:</b><br></p>
                <p><b>name:</b> {{ package_content.name }}</p>
                <p><b>value:</b> {{ package_content.content_value }}</p>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
        {% else %}
         <span class="text bold">user not have any package</span>
        {% endif %}
</div>
<!--
  </form>
  ---->
